streamlit
langchain
langchain-community
langchain-groq
langgraph
crewai
python-dotenv
pandas
pillow
pdf2image
pytesseract
opencv-python-headless
boto3
streamlit-mic-recorder
groq
ultralytics
transformers
paddleocr
easyocr
pypdf
pdfplumber
qdrant-client
sentence-transformers
fastapi
uvicorn
prometheus-client
google-generativeai
anthropic
openai
